# all pycache dirs 
**/__pycache__/

# all environment files
.env

# extensions
*.mp4

# venv ,activate.bat
sentzi-venv/
activate.ps1

# temp and log files
temp.csv
temp.json
dataset_1.csv
dataset_2.csv
temp_version.txt
test_temp.csv
test_temp.json
*.log

